<<<<<<< HEAD
h1 Nosotros 
p Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus hic sint laudantium, recusandae voluptas ab repudiandae libero facere officia reprehenderit necessitatibus qui quibusdam quasi, fugiat voluptatibus sed expedita corporis delectus.
=======
extends ./layout/index
block contenido
    p Nosotros
>>>>>>> 2bf05bee1abe204037dcdfec4b1fd6231422be1f
